.jumbotron_mpj {
    position: relative;
    background: url("#{resource['images.jpeg']}") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.bg-darkslateblue {
    background-color:darkslateblue;
    color: #ccffcc;
}

.bg-navy {
    background-color:navy;
    color:#ffffcc;
}

